tr:not(.header):hover {
  background: rgb(255, 235, 221) !important;  
}
.title:hover {	
	cursor: pointer;
}

.clicked {
    background: rgb(221, 255, 221) !important;
}

.controls{
  position: fixed;
  height: 100px;
  width: 100%;
  top: calc(100% - 100px);
  left: 0px;
  background: rgb(221, 221, 255) !important;
  padding: 10px;
}

/*#songs {
  position: fixed;
  height: calc(100% - 125px);
  width: 100%;
  top: 50px;
  left: 0px;
  overflow: auto;

}*/

body{
  position: relative;
  padding-bottom: 100px;
}

.artwork{
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
}