<button id="back" class="btn">Back</button>
<button id="play" class="btn">Play</button>
<button id="pause" class="btn">Pause</button>
<button id="forward" class="btn">Forward</button>

<div class="pull-right">
  <table>
    <tr>
      <td>Postion</td>
      <td><div id="position">0:00</div></td>
    </tr>
    <tr>
      <td>Total Time</td>
      <td><div id="total">0:00</div></td> 
    </tr>
    <tr>
      <td>Time Remaining</td>
      <td><div id="remaining">0:00</div></td> 
    </tr>
  <table>
</div>