<button id="back" class="btn btn-lg btn-warning">
  <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
</button>
<button id="playPause" class="btn btn-lg btn-info">
  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
</button>
<button id="forward" class="btn btn-lg btn-warning">
  <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
</button>

<div class="pull-right"></td>
      <span id="title">-</span><br>
      <span id="artist">-</span><br>
      Postion:&nbsp;&nbsp;<span id="position">0:00</span><br>
      Time Remaining:&nbsp;&nbsp;<span id="remaining">0:00</span>   
</div>